{% block header %}
{% if user['username'] is defined %}
<a href="?action=logout">Déconnexion</a><br>
<a href="?action=profile&id={{ user['user_id'] }}">{{ user['username'] }}</a><br>
{% endif %}
{% endblock %}
