{% extends 'layout.html.twig' %}
{% use 'header.html.twig' %}

{% block page_title %}Twttr -- Home{% endblock %}

<<<<<<< HEAD
{% block header_title %} HOME | {{ user['username'] }} {% endblock %}
=======
{% block header_title %} TWTTR {% endblock %}
>>>>>>> c3d638c137cbb69e879e1c5cafbdaa518b3307e6

{% block content %}
    <section class="chat">
        <div class="user-inputs">
            <form action="?action=home" method="POST">
                <p class="errorBlock"></p>
                <textarea id="content" name="content" placeholder="Send a Twtt"></textarea><br>
                <button type="submit">🔥 Send !</button>
            </form>
        </div>
        <div class="messages">

        </div>
    </section>
    <script src="assets/js/script.js"></script>
{% endblock %}
