{% extends 'layout.html.twig' %}
{% use 'header.html.twig' %}

{% block page_title %}Twttr -- Profile{% endblock %}

{% block header_title %} {{ user['username'] }} {% endblock %}

{% block content %}
    <a href="?action=home">Send a twtt</a>
{% endblock %}
