{% extends 'layout.html.twig' %}
{% use 'header.html.twig' %}

{% block page_title %}Twttr -- Profile{% endblock %}

{% block header_title %} {{ user['username'] }} {% endblock %}

{% block content %}
    <form action="?action=tweet" method="POST">
        <textarea name="message" class="message" cols="10" rows="3" placeholder="send a message..."></textarea><br>
        <button type="submit" name="tweet">twtt</button>
    </form>
{% endblock %}
